body{
    background-color:#4e92dc;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    font-size:20px;
    align-items: center;
}
.context{
    display:flex;
    flex-direction: center;
    align-items: center;
}
th,td{
    padding: 10px 20px;
}
