{% extends "base.html" %}
{% block head %}
    <title>AADHAR FORM</title>
{% endblock %}
{% block body %}
<h1 align="center">AADHAR FORM</h1>
<div class="form">
    <label for="name">NAME:</label><br>
    <input type="text" id="name" name="name" required placeholder="Enter the name for the aadhar card">
    <br>
    <label for="dob">DATE OF BIRTH:</label><br>
    <input type="date" id="dob" name="dob" required  placeholder="Enter the date of birth">
    <br>
    <label for="address">ADDRESS:</label><br>
    <input type="text" id="address" name="address" required placeholder="Enter the address">
    <br>
    <label for="phone_no">PHONE NUMBER:</label><br>
    <input type="number" id="phone_no" name="phone_no" required placeholder="Enter the phone number">
    <br>
    <input type="submit" value="SUBMIT">
    <br><br>
</div>
{% endblock %}