body{
    margin: 0;
    background-color: #5b9be0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

table{
    border-collapse: collapse;
    min-width: 500px;
}

th, td{
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}
.form{
    text-align: center;

}