{% extends "base.html" %}
{% block head %}
    <title>Expense Tracker</title>
{% endblock %}
{% block body %}
    <h1 align="center">LOGIN PAGE</h1>
    <div class="form" align="center">
        <form action='/login' method="POST" >
            {{ form.hidden_tag() }}
            <label for="name">name</label>
            {{ form.name(size=32) }}<br><br>
            <label for="password">password</label><br><br>
            {{ form.password(size=32) }}<br><br>
            {{ form.submit }}
        </form>
    </div>
    <form action="{{ url_for('signup') }}" method="GET" align="center">
        <button type="submit">dont have a Account? signup page</button>
    </form>
{% endblock %}
