{% extends "base.html" %}
{% block head %}
    <title>Expense Tracker</title>
{% endblock %}
{% block body %}
    <h1 align="center">LOGIN PAGE</h1>
    <div class="form" align="center">
        <form action='/login' method="POST" >
            <input type="text" class="username" name="username" placeholder="enter your username">
            <input type="password" class="password" name="password" placeholder="enter your password">
            <input type='submit' value="LOGIN">
        </form>
    </div>
    <form action="{{ url_for('/signup') }}" method="get" align="center">
        <button type="submit">go to signup page</button>
    </form>
{% endblock %}
