{% extends 'base.html' %}

{% block head %}
<title>SIGN UP PAGE</title>
{% endblock %}

{% block body %}
<h1 align="center">SIGN UP PAGE</h1>

<form method="POST" action="{{ url_for('signup') }}" align="center">
    {{ form.hidden_tag() }}

    <label>name</label><br><br>
    {{ form.name(size=32) }}<br><br>

    <label>password</label><br><br>
    {{ form.password(size=32) }}<br><br>

    {{ form.submit }}
</form>

<br>

<form action="{{ url_for('login') }}" method="GET" align="center">
    <button type="submit">Go to login page</button>
</form>

{% endblock %}
