.body{
    background-color: #548687;
    margin: 0;
    display: flex;
    justify-content: center;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 2rem;
}
.player1-choice, .player2-choice{
    display: flex;
    border:none;
    box-shadow: 0 0 1rem #333;
    border-radius: 1rem;
    gap: 1.5rem;    
}
.box{
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #333;
  cursor: pointer;
  font-size: 1rem;
}

.box:hover{
  transform: scale(1.05);
}


#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: ffff;
#btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: ffff;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: ffff;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom:1rem;
}
#msg{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    font-color: red;
}
.box.selected {
  outline: 4px solid #2c3e50;
  transform: scale(1.08);
}
.selected {
  outline: 3px solid green;
  transform: scale(1.05);
}

.hide{
    display: none;
}
