{% extends 'index.html' %}
{% block head %}

{% endblock %}
{% block body %}
<h1 align="center"> EXPENSE TRACKER  </h1>
<h2 align="center"> FILL THE FORM  </h2>
<div class="form">
    <form action='/' method="POST" >
        <input type="text" class="content" name="tasks" placeholder="enter the expense discription">
        <input type="number" class="amount" name="amount" placeholder="enter the expense amount">
        <input type='submit' value="ADD TASK">
    </form> 
</div>
<form action="{{ url_for('table') }}" method="get">
    <button type="submit">go to expense page</button>
</form>
{% endblock %}