{% extends 'base.html'%}
{% block head%}

{% endblock %}

{% block body %}
<div class="conent">
    <h1>Task master</h1>
    <table>
        <tr>
            <th>Table</th>
            <th>ADD</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.conent }} </td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="">Delete </a>
                    <br>
                    <a href="">update</a>
                </td>
            </tr>
        {% endfor %}    
    </table>
    <form action="/" method="POST">
        <input type ="text" name="content" id="content">
        <input type ="submit" value="ADD TASK">
    </form>
</div>
{% endblock %}
