{
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.table{
    align-items: center;
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
h1 {
    color: darkblue;
    text-align: center;
    margin-top: 20px;
}
.form{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #f9f9f9;
}